.memory-game {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.score {
  font-size: 20px;
  margin-bottom: 20px;
}

.start-button,
.play-again-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.start-button:hover,
.play-again-button:hover {
  background-color: #eee;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.letter {
  background-color: #555;
  border-radius: 5px;
  cursor: pointer;
  height: 100px;
  margin: 5px;
  width: 100px;
}

.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 4rem;
  font-weight: bold;
}


.letter span {
  display: block;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
}

.selected {
  background-color: #ff0;
}

.recall-message {
  font-size: 24px;
  margin-top: 20px;
}

.game-over {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .letter {
    height: 80px;
    margin: 3px;
    width: 80px;
  }
  
  .letter span {
    font-size: 40px;
    line-height: 80px;
  }
}
